<% title @task.name %>

<%= render @task %>

<%= link_to "Edit", edit_task_path(@task), class: "btn btn-primary" %>
<%= link_to "Delete", task_path(@task), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?" } %>
<hr>
<%= link_to "All Tasks", tasks_path %>

<div id="notes">
    <%= render @task.notes %>
</div>